* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.back-img {
    width: 100%;
    background-image: url(banner1.jpg);
    height: 850px;
    position: relative;
    background-size: cover;
    background-position: center;
}

.back-img .content {
    display: flex;
    width: 100%;
    height: 64px;
    padding: 10px 20px 10px 20px;
    align-content: center;
    align-items: center;
}

.back-img .content .left {
    display: flex;
    width: 100%;
    padding: 8px;
    /* margin-left: 45px;
    margin-top: 10px; */
    align-items: center;

}

.back-img .content .left span {
    color: orange;
    margin-right: 15px;
    margin-top: 5px;
}

.back-img .content .left p {
    color: white;
    margin-right: 15px;
    font-size: 17px;
    font-weight: 500;
}

.back-img .content .left p:last-child {
    cursor: pointer;
}

.back-img .content .right {
    display: flex;
    width: 100%;
    color: white;
    padding: 10px;
    /* margin-top: 20px; margin-right: 45px; */
    justify-content: flex-end;
    align-items: center;
}


.back-img .content .right .icn {
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
}

.search-tab button {
    background-color: orange;
}

.back-img .content .right .s-btn {
    font-size: 27px;
    color: white;
    background-color: orange;
    width: 50px;
    height: 50px;
}

.search-here {
    padding: 13px;
    display: none;
    /* margin: 0px auto; */
    width: 95%;
    opacity: 0.8;
}

.search-here-toggle {
    padding: 13px;
    position: absolute;
    display: block;
    left: 20px;
    top: 58px;
    width: 96%;
    border: none;
}

.search-here .search-area {
    width: 100%;
    padding: 20px;
    height: 58px;
    font-size: 20px;
    font-weight: 600;
    background-color: black;
    color: white;
    border: none;
    opacity: 1;

}

.nav-opacity {
    opacity: 0.5;
}


.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    margin-left: 45px;
}

.navbar .logo a {
    color: white;
    font-size: 40px;
    font-weight: 200;
    text-decoration: none;
}

.navbar .logo p::first-letter {
    font-weight: 600;
}

.navbar .menu ul {
    display: flex;
    justify-content: space-between;
    margin-right: 45px;
    text-align: center;
}

.navbar .menu ul li {
    margin: 0px 20px 0px 20px;
    padding: 2px;
    font-size: 17px;
    font-weight: 500;
    list-style: none;
    text-transform: uppercase;
}

.navbar .menu ul li a {
    color: white;
    text-decoration: none;

}

.navbar .menu .dropdown {
    position: absolute;
    background-color: white;
    width: 150px;
    align-items: center;
    margin-top: 3px;
    margin-left: 0;
}


.navbar .menu .dropdown ul {
    list-style: none;
    display: none;
}

.navbar .menu .dropdown li {
    color: white;
    margin-left: 0;
    padding: 10px;
    width: 150px;
}

.navbar .menu .dropdown li:first-child {
    margin-top: 5px;
}

.navbar .menu .dropdown li:last-child {
    margin-bottom: 5px;
}

.navbar .menu .dropdown li a {
    text-decoration: none;
    color: black;
    padding: 4px;
}

.navbar .menu .dropdown li:hover {
    background-color: orange;
}

.navbar .menu .hover:hover ul {
    display: inline-block;
    margin-left: 0;
}

.nav-btn-design {
    display: none;
}

.mid-text {
    margin-left: 47px;
    margin-top: 220px;
    padding: 2px;
}

.mid-text .img-text h1 {
    color: white;
    font-weight: 200;
    font-size: 0.5in;
}

.mid-text .img-text h1 span {
    background-color: orange;
}

.mid-text .img-text p {
    color: white;
    margin-top: 35px;
    font-size: 20px;
    word-spacing: 2px;
    letter-spacing: 3px;
}

.mid-text .btn button {
    color: white;
    margin-top: 40px;
    background-color: rgb(77, 75, 75);
    margin-right: 10px;
    height: 45px;
    width: 130px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
}

.mid-text .btn button:hover {
    transition: 1s all ease;
    color: orange;
}

.mid-text .btn button span {
    color: orange;
}

.history {
    display: flex;
    width: 100%;
    margin: 20px 0px 57px 0px;
    padding: 50px 20px 65px 20px;
}

.history .text-left {
    display: flex;
    width: 50%;
    margin-top: 80px;
    padding: 20px;
    align-items: center;

}

.history .text-left h1 {
    font-size: 0.5in;
    margin: 0px 59px 0px 60px;
    padding: 0px 63px 0px 99px;
}

.history .text-right {
    width: 50%;
    padding: 10px;
    letter-spacing: 2px;
    opacity: 0.6;
}

.history .text-right p {
    margin-bottom: 30px;
    line-height: 33px;
    padding-right: 70px;
    margin-right: 80px;
}

.his-gal {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.his-gal img {
    margin-left: 25px;
    margin-right: 25px;
    height: 280px;
    width: 280px;
    border: 6px solid whitesmoke;
    border-radius: 6px;
    box-shadow: 1px 1px 5px gray;
}

.his-gal button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.his-gal button span {
    font-size: 25px;
    font-weight: 900;
    transition: 1s all ease;
}

.his-gal button:hover span {
    color: white;
    text-shadow: 2px 2px 5px gray;
}

.services {
    margin-top: 180px;
    margin-bottom: 50px;
}

.services .ser-head {
    text-align: center;
}

.services .ser-head h1 {
    font-size: 0.45in;
    margin: 20px;
}

.services .ser-head p {
    font-size: 20px;
    word-spacing: 2px;
    opacity: 0.5;
}

.services .ser-details {
    display: grid;
    gap: 50px;
    margin-top: 60px;
    width: 80%;
    margin-left: 140px;
    grid-template-columns: repeat(3, 1fr);
}

.services .ser-details .detail1 {
    padding: 10px;
    height: 200px;
    width: 330px;
}

.services .ser-details .detail1 span {
    font-size: 45px;
    color: orange;
    margin-bottom: 30px;
}

.services .ser-details .detail1 h3 {
    font-size: 20px;
    margin-bottom: 30px;
}

.services .ser-details .detail1 p {
    font-size: 18px;
    font-weight: 500;
    opacity: 0.3;
}

.chef {
    margin-top: 100px;
    background-color: #FAF8F9;
    height: 680px;
    width: 100%;
    display: flex;
    aLIGN-items: center;
}

.chef .chef-img {
    margin-left: 150px;
}

.chef .chef-text {
    width: 500px;
    margin-left: 60px;
    padding: 10px;
}

.chef .chef-text h1 {
    margin-bottom: 20px;
}

.chef .chef-text p {
    font-size: 20px;
    line-height: 40px;
    opacity: 0.3;
    margin-top: 30px;
}

.chef .chef-text button {
    height: 50px;
    width: 160px;
    background-color: orange;
    font-size: 17px;
    font-weight: 700;
    margin-top: 40px;
    border: none;
    color: white;
    transition: 1s ease all;
}

.chef .chef-text button:hover {
    background-color: rgb(58, 56, 56);
}

.specialmenu h1 {
    text-align: center;
}

.specialmenu {
    background-color: black;
    width: 100%;
    height: 1000px;
}

.specialmenu h1 {
    color: white;
    font-size: 0.57in;
    padding-top: 80px;
}

.specialmenu .head {
    display: flex;
    margin-top: 60px;
    width: 100%;
    justify-content: center;
}

.specialmenu .head button {
    font-size: 20px;
    background-color: transparent;
    color: white;
    width: 310px;
    height: 80px;
    padding: 0;
    cursor: pointer;
}

.specialmenu .head button:hover {
    background-color: orange;
}

.specialmenu .sp-items {
    display: grid;
    border: 0.6px solid gray;
    margin-top: 5px;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 140px;
    margin-right: 140px;
}

.item1 {
    display: flex;
    align-items: center;
}

.sp-items .item1 img {
    height: 120px;
    width: 120px;
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 50px;
    border: 2px solid white;
}

.sp-items .item1 .img-spec {
    color: white;
    padding: 20px;
}

.sp-items .item1 .img-spec h2 {
    color: white;
    font-size: 17px;
    font-weight: 600;

}

.sp-items .item1 .img-spec p {
    padding: 7px 0px;
    color: #817f7f;
}

.sp-items .item1 .price {
    color: orange;
    margin: 20px;
    padding: 20px;
    font-size: 20px;
}

.sp-services {
    /* padding-top: 100px; */
    padding: 100px 100px 100px 100px;
    display: flex;
    align-items: center;
    width: 100%;
}

.sp-services .head-left {
    display: flex;
    padding-left: 50px;
    width: 40%;
}

.sp-services .head-left h1 {
    font-size: 0.55in;
    padding: 75px;
}


.sp-services .info-right {
    display: grid;
    width: 60%;
    row-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
}

.sp-services .info-right .info1 {
    width: 300px;
}

.sp-services .info-right .info1 h3 {
    font-size: 20px;
    padding: 10px 0px 10px 0px;
}

.sp-services .info-right .info1 p {
    font-size: 17px;
    padding: 10px 0px 10px 0px;
    line-height: 30px;
    opacity: 0.4;
}

.gallery {
    padding: 0px 120px 0px 120px;
}

.gallery .gal-img {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    justify-items: stretch;
    align-content: center
}

.gallery .gal-img img {
    height: 300px;
    width: 100%;
}

.gallery .gal-img .img {
    position: relative;
    height: 100%;
    width: 100%;
}

.gallery .gal-img .img .text {
    position: absolute;
    bottom: 0;
    height: 0%;
    width: 100%;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
}

.gallery .gal-img .img .text h1 {
    font-size: 20px;
    padding: 10px;
}

.gallery .gal-img .img:hover .text {
    background-color: orange;
    display: block;
    bottom: 0;
    height: 20%;
    width: 100%;
}

.gallery .gal-img h1 {
    font-size: 0.55in;
    padding-left: 50px;
    letter-spacing: 2px;
    line-height: 55px;
    color: rgb(57, 55, 55);
}

.info {
    display: flex;
}

.info .info-left {
    align-items: center;
    height: 300px;
    padding: 30px;
}

.info .info-left p {
    line-height: 35px;
    font-size: 18px;
    padding-right: 40px;
    color: gray;
    opacity: 0.5;
}

.info .info-right {
    height: 300px;
    padding-top: 30px;
}

.info .info-right p {
    line-height: 35px;
    font-size: 18px;
    padding-right: 40px;
    color: gray;
    opacity: 0.5;
}

.booking {
    background-image: url(banner2.jpg);
    background-position: center;
    background-size: cover;
}

.booking h1 {
    text-align: center;
    font-size: 0.5in;
    color: white;
    padding: 100px 20px 80px 20px;
}

.booking .input {
    width: 100%;
    display: flex;
    padding-bottom: 50px;
    justify-content: center;
}

.booking .input input,
select {
    width: 350px;
    padding-left: 10px;
    height: 70px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    font-size: 20px;
}

.booking .input select option {
    background-color: black;
}

.booking .txt-btn {
    display: flex;
    width: 100%;
    gap: 10%;
    align-items: center;
    justify-content: center;
    padding-bottom: 150px;
}

.booking .txt-btn .txt1 {
    display: flex;
    padding-right: 100px;
}

.booking .txt-btn .txt1 span {
    color: orange;
    padding-right: 10px;
}

.booking .txt-btn .txt1 p {
    color: white;
    padding-left: 10px;
}

.booking .txt-btn .btn {
    justify-content: center;
}

.booking .txt-btn .btn button {
    width: 502px;
    height: 70px;
    font-size: 18px;
    font-weight: 600;
    background-color: orange;
    color: white;
    word-spacing: 2px;
    letter-spacing: 2px;
    border: 2px solid orange;
    transition: 1s all ease;
}

.booking .txt-btn .btn button:hover {
    background-color: transparent;
}

.booking .txt-btn .txt1 span,
p {
    padding: 6px;
}

.com-sec {
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.com-sec .com-head {
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.com-sec .com-head h1 {
    font-size: 0.45in;
    padding: 30px 0px 10px 0px;
}

.com-sec .com-head p {
    font-size: 20px;
    color: gray;
}

.com-sec .com-detail .detail {
    display: flex;
    padding: 10px;
}

.com-sec .com-detail .detail span {
    padding: 0px 10px 0px 10px;
    font-size: 30px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 10px;
    background-color: orange;
    color: white;
    margin: 5px 20px 0px 20px;
}

.com-sec .com-detail .detail h4 {
    font-size: 22px;
    padding: 5px;
}

.com-sec .com-detail .detail p {
    font-size: 17px;
    color: rgb(190, 183, 183);
    line-height: 30px;
    padding: 5px 5px 15px 5px;
}

.com-sec .com-detail {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0px 50px 10px 50px;
    margin: 0px 90px 10px 90px;
}

.foot {
    background-image: linear-gradient(to top, rgb(43, 42, 42), rgb(28, 28, 28));
}

.foot .contact {
    padding-bottom: 50px;
}

.foot .contact h1 {
    text-align: center;
    font-size: 0.55in;
    padding: 60px 0px 50px 0px;
    color: white;
}

.foot .contact .form-info {
    display: flex;
    width: 100%;
    gap: 5%;
    justify-content: center;
}

.foot .contact .form-info .form {
    width: 40%;
    text-align: center;
}

.foot .contact .form-info .form div {
    width: 100%;
    display: flex;
    gap: 4%;
    margin: 0px;
    text-align: center;
    justify-content: space-evenly;
}


.foot .contact .form-info .form h3 {
    color: orange;
    padding: 10px 0px 30px 0px;
    font-size: 22px;
    font-weight: 400;
    text-align: start;
}

.foot .contact .form-info .form input[type='text'] {
    height: 60px;
    width: 50%;
    padding: 10px;
    font-size: 17px;
    margin-bottom: 10px;
}

.foot .contact .form-info .form textarea {
    font-size: 17px;
    padding: 10px;
    width: 100%;
    height: 150px;
}

.foot .contact .form-info .form .btn {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

.foot .contact .form-info .form .btn button {
    width: 50%;
    height: 55px;
    font-size: 17px;
    background-color: black;
    color: white;
    transition: 1s all ease;
    border: none;
}

.foot .contact .form-info .form .btn button:hover {
    background-color: orange;
}

.foot .contact .form-info .info {
    display: block;
    width: 40%;
}

.foot .contact .form-info .info h3 {
    color: orange;
    padding: 10px 0px 20px 0px;
    font-size: 22px;
    font-weight: 400;
}

.foot .contact .form-info .info .info1 {
    display: flex;
    align-items: baseline;
    margin: 10px 0px 22px 0px;
}

.foot .contact .form-info .info .info1 span {
    padding-right: 30px;
    font-size: 18px;
    color: white;
}

.foot .contact .form-info .info .info1 h2 {
    color: white;
    font-size: 18px;
    padding-left: 30px;
}

.foot .contact .form-info .info .info1 p {
    color: rgb(162, 155, 155);
    font-size: 18px;
    padding-left: 30px;
}

.foot .contact .form-info .info .info1 p a {
    color: rgb(162, 155, 155);
    font-size: 18px;
    text-decoration: none;
    transition: 0.5s all ease;
}

.foot .contact .form-info .info .info1 p a:hover {
    color: rgb(184, 49, 105);
}

.foot .map {
    text-align: center;
    padding: 20px 0px 70px 0px;
}

.foot .map iframe {
    width: 82%;
    height: 350px;
    margin-bottom: 20px;
}

.foot .copy {
    background-color: black;
    text-align: center;
}


.foot .copy p {
    color: white;
    padding: 25px;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: 600;
}

.foot .copy p span {
    color: orange;
}